@import "../style/variables";

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-items: stretch;

  article {
    flex: 1 1 45%;
    padding-left: 10px;
    box-sizing: border-box;
    margin: 10px 2.5% 20px;
    color: $text-gray;
    font-family: $lato;
    font-weight: lighter;
    border-left: 5px solid $another-accent-pink;
    letter-spacing: 0.03em;
    line-height: 1.5em;

    small {
      font-size: 10px;
      margin: 5px 0;
    }

    h3 {
      font-family: $playfair-display;
      font-weight: lighter;
      margin-top: 0;

      a {
        color: $black;

        &:hover {
          color: $accent-pink;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  main {
    article {
      flex: 0 0 100%;
    }
  }
}
