@import "../style/variables";

main {
  display: grid;
  grid-template-columns: repeat(1, minmax(8rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;

  article {
    padding: 1rem;
    box-sizing: border-box;
    color: $text-gray;
    font-family: $lato;
    font-weight: lighter;
    border: 5px solid $another-accent-pink;
    letter-spacing: 0.03em;
    line-height: 1.5em;

    small {
      font-size: 10px;
      margin: 5px 0;
    }

    h3 {
      font-family: $playfair-display;
      font-weight: lighter;
      margin-top: 0;

      a {
        color: $black;

        &:hover {
          color: $accent-pink;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  main {
    grid-template-columns: repeat(2, minmax(8rem, 1fr));
  }
}

@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(2, minmax(8rem, 1fr));
  }
}

@media (min-width: 992px) {
  main {
    grid-template-columns: repeat(3, minmax(8rem, 1fr));
  }
}
