@import "./variables";

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.main-container {
    margin: 0;
    padding: 0;

    main {
        width: 80%;
        max-width: 800px;
        margin: 0 auto 2em;
    }
}

.gatsby-resp-iframe-wrapper {
    max-width: 100%;
}
