// Variables
@import url('https://fonts.googleapis.com/css?family=Esteban|Montserrat:200,400,700&display=swap');

$font-titles: 'Esteban', serif;
$font-body: 'Montserrat', sans-serif;

$turquoise: #4abab5;
$lavender: #945ca3;
$pink-purple: #cd6a9d;
$yellow: #ffce80;
$gray: #0e0b0b;

$space: 10px;

body {
  font-family: $font-body;
  color: $gray;
  padding: $space;
}

h1, h2, h3, h4, h5, h6{
  font-family: $font-titles;
  font-weight: 400;
}

h1, h3, h5 {
  a {
    color: $turquoise;
  }
  color: $turquoise;
}

h2, h4, h6 {
  a {
    color: $pink-purple;
  }
  color: $pink-purple;
}

iframe {
  border: none;
}

a {
  color: $turquoise;
  text-decoration: none;
}

strong {
  color: $lavender;
}

em {
  color: $pink-purple;
}

ul {
  li {
    list-style-type: disc;
  }
}

.bio {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  .gatsby-image-wrapper {
    flex-basis: 90px;
    flex-shrink: 0;
    flex-grow: 0;
  }

  p {
    margin-left: 10px;
  }
}

article {
  header {
    h1, h3 {
      margin-bottom: 0;
    }

    small {
      font-size: 12px;
    }

    p {
      font-size: 12px;
      margin-top: 0;
    }
  }
}

nav {
  ul {
    display: flex;
    padding: 0;

    li {
      list-style-type: none;
      flex-basis: 50%;
    }

    li:last-of-type {
      text-align: right;
    }
  }
}

hr {
  border-color: #eee;
}

footer {
  display: flex;
  justify-content: space-between;
}

@media(min-width: 768px) {
  body {
    margin: 0 auto;
    padding: 0;
    max-width: 590px;
  }
}