@import "../style/variables";

.instaPictures {
  display: grid;
  grid-template-columns: repeat(4, minmax(8rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 15px;
  max-width: 800px;
  width: 80%;
  margin: 40px auto;
  justify-items: stretch;

  .instaPictureFrame {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid white;
    padding: 0.5em;
    background: $rose-gold;
    align-self: stretch;

    .emptyFrame {
      background: $another-accent-pink;
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
    }

      .instaPictureLink {
          display: block;
          height: 100%;
          width: 100%;

        .instaPicture {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
      }
  }
}
